Engineering/Electric-Motors/Electrical_Machinery.pdf filter=lfs diff=lfs merge=lfs -text
Engineering/Electric-Motors/Design[[:space:]]of[[:space:]]Brushless[[:space:]]Permanent-magnet-Machines-Hendershot.pdf filter=lfs diff=lfs merge=lfs -text
Engineering/Electric-Motors/Brushless-Permanent-Magnet-Motor-Design-Duane-Hanselman.pdf filter=lfs diff=lfs merge=lfs -text
Engineering/Roarks-Formulas-for-Stress-and-Strain.pdf filter=lfs diff=lfs merge=lfs -text
Engineering/Shigleys-Mechanical-Engineering-Design.pdf filter=lfs diff=lfs merge=lfs -text
Engineering/Manufacturing-Engineering-and-Technology.pdf filter=lfs diff=lfs merge=lfs -text
Engineering/Feedback-Control/Applied-Optimal-Control-Arthur.pdf filter=lfs diff=lfs merge=lfs -text
Engineering/Computer/Machine-Learning-Tom-Mitchell.pdf filter=lfs diff=lfs merge=lfs -text
Engineering/Water-Treatment/Stantec-Water-Treatment.pdf filter=lfs diff=lfs merge=lfs -text
Engineering/Water-Treatment/Fluid-Mechanics-Frank-White.pdf filter=lfs diff=lfs merge=lfs -text
